希望增加SNMP信息实时写入指定文件的功能，以方便调试参数。

或者增加控制台关闭log，然后实时显示的SNMP参数功能。

谢谢！

--collect-snmp file.log ?



yes，不知是否麻烦？

不麻烦，我等下试试

另外，采集周期，一分钟？

采样周期能否自定义？以秒为单位，如果设定60秒，就是每隔60秒记录最近60秒的数据。

可以 

logrotate这种功能交给logrotate去做就好了，不用自己去实现。格式最好是.csv这种以逗号分割的格式，便于用excel做后期分析。谢谢！！！

.csv 可能比较麻烦，搞复杂了，json吧

csv很简单啊，第一行是逗号分割的字段名，第二行开始是逗号分割的数值。

 就是这样
a, b, c, d
1, 2, 3, 4
5, 6, 7, 8

因为有表头，说明文件是有状态的了，重启后，需要检测表头是否存在的这个状态。

csv文件是一个db,而不是append only 的log文件。

其实只要启动的时候，检测一下log文件是否存在，存在即默许有表头，直接append。不存在则新建文件，写入表头，然后开始append。

嗯，考虑一下。

感谢，感谢。
相信有了这些数据，一定会发现很多有趣的关系。比如时间，瞬时流量，丢包率，FEC效果之间的微妙关系。

@bettermanbao 我提交了，你先自己编译测试下效果 ,支持 logrotate

--snmplog ./snmp-20060102.log --snmpperiod 5

20060102是golang日期格式，会替换为当前时间

<img width="368" alt="91e1c483-e914-41bc-a562-b69dddc9e21c" src="https://cloud.githubusercontent.com/assets/2346725/21353857/df2b3f4a-c702-11e6-8535-60f3fd2aa7f8.png">


能否再麻烦下每行第一列再加个时间戳？
logrotate会每天新建一个文件？还是只是记录文件创建时间？其实只要每行有个时间戳，log文件就不需要加上日期了，你觉得呢？

是的，每天新建， 你可以做到每个小时新建，通过
./snmp-20060102-15.log

```
const (
        ANSIC       = "Mon Jan _2 15:04:05 2006"
        UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
        RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
        RFC822      = "02 Jan 06 15:04 MST"
        RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
        RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
        RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
        RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
        RFC3339     = "2006-01-02T15:04:05Z07:00"
        RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
        Kitchen     = "3:04PM"
        // Handy time stamps.
        Stamp      = "Jan _2 15:04:05"
        StampMilli = "Jan _2 15:04:05.000"
        StampMicro = "Jan _2 15:04:05.000000"
        StampNano  = "Jan _2 15:04:05.000000000"
)
```

每行也需要增加timestamp。

还有，看log应该是直接写入了snmp的累计值吧？个人感觉写入每个period的统计值，对分析更有帮助。比如period设为60秒，每行记录就是最近60秒的统计数据。这样到时作图，x轴是时间，y轴是需要显示的值，很是方便呢。

这样需要这次和上次相减。但是，MaxConn这种做减法没有意义。

我个人觉得自动新建log文件，反而对分析带来不便。到时可能要手动合并几天的文件，再进行分析。不如盯死一个文件写，担心文件过大的用户，自己用logrotate定期rotate就好了。

表示状态的值不求差，表示累计的值求个差。好像要求有些高啊，不好意思，不好意思，你别砍我。

你不指定日期就不新建了   -snmplog /xxxx.csv 即可

对，所以，我觉得还是需要后期处理。kcptun只管输出。

后期处理到不麻烦，但是每行麻烦添加一个时间戳吧。感谢！

时间戳这个问题，我想了下可能不需要加，因为是固定间隔的时序数据。

如果要加，可能写个unix时间比较合适，你觉得如何？

间隔是固定的，但是起始时间怎么知道呢？
而且还有一种可能，2次开启kcptun使用的是不同的snmpperoid参数。

只要有个精确到秒的时间，格式无所谓。

已经提交

看到了，十分感谢！
另外，说句题外话，你别砍我。时间戳直接定义在DefaultSnmp.Header和ToSlice里面，代log输出的码会更美观一些吧。哈哈哈哈。。。。。。

一码是一码，各管各的事。

我明天白天开一天log看看效果，另外能顺变再科普下snmp里面几个retrans参数的意义吗？一直有点一知半解的。感谢感谢！

一两句话说不清楚：
fastretrans : 快速重传，数据包乱序，中间丢包,  fastack ,fastresend, 
earlyretrans: 没有后续包要发送了，无法触发快速重传阈值，采用的重传，参考Tail loss probe
lostseg: 以上条件都不满足，数据包等待超时后也没到。

repeatsegs是不是fasrretrans判断错误造成的重复发包？

以上所有判断都可能导致repeat， 另外还包括fec的recover导致的

刚才测试了一下，以60秒间隔为例，对于累计的数据还是希望能够记录最近60秒的值。原先以为只要在excel简单的求一下差就可以了，实际分析时发现如果遇到kcptun重启，新的第一条记录减去上次的最后一条记录就会出现负数，统计时需要手动移除，比较麻烦。如果改为输出最近60秒的记录就不会出现这样的问题，并且这样数据看上去更直观。

希望作者能够再考虑一下这个更改，感谢！



嗯，我想想

@bettermanbao 提交了，试试

试过了，和期望效果一样。

另外，发现一个有趣的现象，RetransSegs很小的情况下，RepeatSegs会很大，请问是什么原因造成的？我试了开和关FEC，都是这种情况。不是很理解。数据见截图，谢谢！

![snmp](https://cloud.githubusercontent.com/assets/17328315/21376719/49c7d114-c772-11e6-91f1-18ac1225e217.png)


repeat大，说明误判丢包，说明网络抖动厉害。

误判的丢包造成的retrans，不会被前面几个retrans的参数计数？
从fast2改成fast后，RepeatSegs有所下降。等我再手动调整下参数看看。

retranssegs : = fast + early + lost

那 RepeatSegs等于？
观察下来FEC对降低RepeatSegs也没有任何帮助，调大Interval，可以降低RepeatSegs，但速度也随之降低。

repeatsegs就是kcp收到的重复包计数啊

那接收端的RepeatSegs是否可以理解为发送端因为错误判断所发出的FastRetransSegs、EarlyRetransSegs相加？

错误判断主要是因为接收端返回的ack晚到了？

不可能准确判断的。 包括TCP。都是猜。

是否可以理解fast mode，因为nodelay=0，所以会多等等，等多久取决于resend后面的数字。fast2 mode因为nodelay=1，所以ack一旦跳过一个，就直接重传？

不是， nodelay只有0,1选项，就是表示多等一下

重传跳过个数是由  -resend  控制的。


nodelay=0的多等一下，具体是多等多久呢？

多等 1/8 RTT

测试了一个，挺好用的，发个release吧。

多测试一下， 等你出个图

今天测了各种参数组合，也不记得那个时间点用的是哪组参数了。
明天集中测试一下normal,fast,fast2,fast3这4组默认参数的表现吧。

嗯，很好的开始，influxdb可以分析这类时序数据并grafana可视化，机器学习也可以用了。

你走得太高端了。。。
继续测试RepeatSegs，下图是RepeatSegs/InSegs的比例，数据是youtube开着某1080p视频时在客户端采样的。
简单的结论，在我的网络中fast mode相比fast2 mode，由于多等1/8 RTT，可以有效降低服务器端因为误判导致的重复发包，并且承载速度明显提高，说明多等的这些时间确实等来了ack包。

![fastvsfast2](https://cloud.githubusercontent.com/assets/17328315/21412098/8a5a967e-c828-11e6-9f16-6afc430eb943.png)


赞一下两位大神，加大interval参数的方式可以减少重复包的发送，应该就是变相的指定多等一下ack包咯？速度变慢的问题，我简单粗暴地把发送窗口加大。。。

我测试的方式简单粗暴，直接用windows客户端kcptun-gui开流量统计
![kcp](https://cloud.githubusercontent.com/assets/1540179/21412721/4eb48b5c-c82d-11e6-947f-df4cccc025b5.png)
实测客户端只有kcp流量为1.1~1.2倍的原始流量，但出站流量不知怎么基本都在8倍以上




相同窗口下，加大interval，会导致速度变慢。这个现象我也观察到了，@xtaci 能否专业的解释下interval参数的工作原理？谢谢！

interval 就是控制kcp的flush的间隔的的。所有的重发逻辑都经过interval后触发

那重发的内容是否会因为interval变大，有些原本没到的包，晚到了，而不重发。
还是说是否重发只是由nodelay和resend参数控制的？

fast resend的逻辑我觉得有点问题，应该加入一定的delay，举例:

数据包到达序列：

1 2  [3]丢失  4 5   (到达第一个interval，flush第3号包) ,7,8... 100 (到达第二个interval,再次flush第3号包

在这个过程中， 3号包在很短的两个interval，假如单次是10ms，发送了两次， 如果RTT本身是300ms， 抖动50ms， 那么很可能3号包会发送5次。不仅如此，在主动Send的时候，如果立即flush，会更多次的发送3号包。

@skywind3000

这个问题能不能分析一下？




<img width="608" alt="8f847c80-8956-4405-a0e2-1cb07bf67f7f" src="https://cloud.githubusercontent.com/assets/2346725/21417473/be438c02-c855-11e6-9834-b72f5b7b623f.png">


@skywind3000, fastresend也应该经过rtt才需要触发吧。


@bettermanbao 麻烦重新编译下最新的kcp-go， 我更改了部分重传参数 ，测试一下。

好的，我刚才研究了一下，因为没读过代码，以下解读全凭猜的。

nodelay 是控制超时重传的时候是否再多等一会。
inteval 是超时重传的间隔，和下面的resend控制的快速重传没有关系。
resend 只是控制快速重传，超过resend间隔没收到的包会立刻重传，无需等到inteval到了再发送。
nc 比较复杂还没研究透。

然后我试下来，0 300 0 1的参数，RepeatSegs明显降低。

对，如果interval和repeat有关，那么fastresend是最大的嫌疑，因为就这个不受时间控制。

长时间都在routeros里观察
nodelay这个参数俺一直都是关闭的，感觉太激进，时常突破窗口设置阈值。
interval估计和设计初衷有关，（流速、流量），另一个帖子网友也提过这个问题，就是过大的interval会造成传输曲线不稳，这在routeros里看的也很清楚，例如20M的阈值，那么可能5M、10M、20M这样跳，而小的interval则一直压着阈值上限走，感觉像是单次的传输VS多次传输。
最后还有个问题一直都没人提过，如果同时尝试下载和youtube，不用多长时间一定爆表，幅度还挺大，这个和缓冲大小有关吗？

看了server端和client端同一个时间点的snmp log，此时实在下载，所以数据是从server端发往client端。
client端收到大量RepeatSegs时，server端会出现大量LostSegs导致的重传。

希望这些数据对分析有用。

![client server](https://cloud.githubusercontent.com/assets/17328315/21419142/c86f7cda-c860-11e6-88f2-29e468db9e8c.png)


@bettermanbao 这个是最新的kcp-go么？ 我刚刚提交了一个改动。

以上数据，就是用更新后的kcp-go收集到的，看来这个更新无用。
现在问题是kcp-go在发送数据时，是怎么判断lostseg的？等待多久没收到ack就算lost?

我觉得这个数据挺好的，误判率不高。 我在这里测试效果还挺好的。

另外，不要想着完全消除repeat, 不可能的哈。误判率平均10%已经不错了

既然有数据了，就可以想办法优化。
继续回到我的问题：
请问kcp-go在发送数据时，是怎么判断lostseg的？等待多久没收到ack就算lost?

把client端的repeatseg 和 server端的lostseg画成图，吻合度非常好。
如果是50%的误判，也许无能为力，但是这个是100%的误判呢，应该有办法在软件层面降低吧？

![repeatvslost](https://cloud.githubusercontent.com/assets/17328315/21419533/31fe68f8-c863-11e6-8f93-211a77bdb76b.png)

这个不叫100%误判， 这个就相当于每个数据包多发了一次而已。

每个判断丢包重发的包，在接收端看来都是没必要重发的，这不就是100%误判嘛。

其实我关心的是发送端对于丢包的判断能否再宽容一些？因为从数据看来，现在是有些严格了。

```
803     atomic.AddUint64(&DefaultSnmp.RetransSegs, lostSegs+fastRetransSegs+earlyRetransSegs)
804     atomic.AddUint64(&DefaultSnmp.LostSegs, lostSegs)
805     atomic.AddUint64(&DefaultSnmp.EarlyRetransSegs, earlyRetransSegs)
806     atomic.AddUint64(&DefaultSnmp.FastRetransSegs, fastRetransSegs)
```

以上是全部的retrans segs

losts只是 retrans的一部分。


但是从我的数据看，所有retranssegs中，lostsegs是占比最大的，并且时间上和接收端的repeatsegs吻合。所以我才觉得这部分应该是可以优化的。lostsegs的判断应该超时即认为是丢包，那这个超时是怎么设置的？是否就是interval？代码不懂呢，求大神指点。

超时是根据RTT + 抖动 计算出来的， TCP/IP卷一中文版，第232页。

kcp.go中
			if kcp.nodelay == 0 {
				segment.rto += kcp.rx_rto
			} else {
				segment.rto += kcp.rx_rto / 2
			}
			segment.resendts = current + segment.rto
			lost = true
			lostSegs++

请问以上这段代码中的segment.rto += kcp.rx_rto如果改成segment.rto += kcp.rx_rto * 2，应该能够明显降低lostseg的比例吧？

当然 速度也会慢

@bettermanbao release发了

嗯，谢谢。我还是会试试rto*2的结果。

"你不指定日期就不新建了 -snmplog /xxxx.csv 即可"

测试的时候图省事，随手指定了一个文件名1.csv，结果生成的文件名是12.csv，抓了半天脑袋才发现是time.Now().Format闹的，本月是12月

上几张图片，主要分析的是客户端的数据。
RepeatRatio = RepeatSegs/InSegs，服务器端因为误判造成重复发包的比率。
FECRatio = FECRecovered/FECSegs，FEC恢复的效率。
![kcptun_snmp](https://cloud.githubusercontent.com/assets/17328315/21560100/f7040fe6-ce93-11e6-8d5c-045a3dcb7766.png)


牛逼啊，很有意思。

顺便确认一下，FEC恢复的包，接收端也是会回发一个ack的对吗？@xtaci

嗯，看了下现有逻辑， kcp.go第546行
在窗口范围内，重复的包会发重复的ack，
但是kcp.go第638行，会再此检查窗口，窗口外的ack剔除了。

嗯，这里的逻辑我觉得可能有改善的地方。

重复接收到的包，应该是始终回复ack吧？发送端就是因为没有收到之前的ack，才重复发送。重复的包如果不回复ack，那发送端不是一直不知道接收端包已收到了吗？

还有，FEC恢复出来的包，也应该是始终回复ack的。因为恢复出来，和实际收到其实是一样的效果。

是ack + una两者判定的。
una + rcv_wnd范围内，是client发送过来的，以及确认了的范围，所以低于这个范围内的ack，不需要ack.



我不是很懂，请教una指的是？

假如una = 0  ,   rcv_wnd = 1024 
那么， [0, 1024] 就是发送端所有可能发送的数据包的范围。

也应该没什么可以改动的。

那接收端通过FEC恢复出来的包，发送端是否仍然有可能重复发送？

有可能的，假如 fec(10, 3) 那么我先收到9个包，客户端什么都不发送了， 等了几秒，这个时候，超时重传第10个包，凑够10个包，可以发送FEC的后面3个包了。 这个时候recovered出来的，必定重复。

不是很理解，发送端应该是13个包一组，13个包一组发送的。
第10个包如果超时，11-13假设先到达。这样FEC就能直接恢复第10个包，对于kcp层就是10个包全部收到。然后10个ack一起回发。是这样吗？

问题是，交互式应用，比如我每5秒发送一个应用层的请求，128个字节。 短时间内根本凑不够fec的datashard个数啊

这个另当别论，我说的是比如大流量下载时。
发送端应该是13个包一组发包。
第10个包如果丢包，11-13假设先到达。这样FEC就能直接恢复第10个包，对于kcp层就是10个包全部收到。然后这10个ack都会一起回发，告诉发送端你发的10个包我都收到了。是这样吗？

不是，不会等到13个包一组，来一个发一个，凑够10个，立即发送3个parity

再请教一个问题，snmp里能否再增加一个FEC恢复失败的计数？用于统计因为丢包率过大造成fec无法恢复发生的计数。这样微调fec参数的时候就会有明确目标，控制无法恢复的次数尽量为0，同时FECRecovered/FECSegs的比例尽量接近1。谢谢！

fecsegs - fecrecovered 就是恢复失败的。

代码我不是很看得懂，逻辑上FEC现在只保留最近3组数据。那收到第4组的时候，如果第一组如果还没有恢复出来，就能判定第1组丢了多少个segs。这是否就是你说的超队列？


对

谢谢，请考虑一下增加FECFailed的计数吧。

FECExpired更合适

名字不重要，只要数字是fec没有恢复出来的seg就可以了。

我试了下，基本就等于FECSegs - FECRecovered，因为如果不丢包10,3的配置下，先收到10个包，后面三个包，必定会慢慢被第二组，第三组的3个FEC包挤出队列。

再想想吧，你总能想到办法的。

@xtaci 请问 FECExpired 还会添加吗？
不知道kcp-go代码中是否有地方可以判断FEC的数据块不够，在那里加上FEC缺失seg的计数，或者在FEC缓存的第1组数据包被第4组数据包清出缓存的时候，统计一下1组数据包中一共多少个包没有被恢复出来。
代码不是很懂，仅仅提供一下思路。谢谢！

10，3的配置， 只丢了一个包， 只需要9  + 1即可恢复， 后面的2个包，算恢复成功还是不成功， 这类问题很多，这个问题可以通过增加一个表去跟踪记录所有的还原情况，  但会有性能损失。

如下图，FECLostSegs用来统计FEC运算以后，每组数据包实际的丢包。这样优化FEC参数时，目标就能明确为FECLostSegs=0，shardparity尽量调小。

![fec](https://cloud.githubusercontent.com/assets/17328315/21759961/6cb035fc-d683-11e6-9fdb-a6b11f4a8c7f.png)

嗯，明确的统计FEC纠错模块认定的丢失个数，这个没问题。

那就期待你的更新了，感谢！

@bettermanbao 更新了，试试

@xtaci 等我试试

数据有点看不懂了，下载下载zhe3，突然FECLost暴增。。。

![fec new](https://cloud.githubusercontent.com/assets/17328315/21760831/098bf3ec-d68a-11e6-9c89-8b73005c754e.png)


嗯，又有个地方想错了

再来一组数据，这次是间隔60秒采样，之前是间隔1秒。

![fec new2](https://cloud.githubusercontent.com/assets/17328315/21760940/cc12fba4-d68a-11e6-86d9-21faaf499744.png)


这个统计的实际上是，没有办法参与 FEC的DataShard个数

名字应该叫做, FECRecoverable

有点搞，能不能还是统计一个FECLost呢？

目前没有办法，自己在外面做减法吧

snmp文件先传上来，数据我等一下再研究。

[kcptun_snmp_log.xlsx](https://github.com/xtaci/kcptun/files/693016/kcptun_snmp_log.xlsx)


从数据中可以看出FECSegs很大，FECRecovered很小，还有很多FECLostSegs。感觉FEC还需要调整。。。

能具体解释一下吗？
比如fec 10 3，前面10个包收到6个，后面3个包收到2个，FECShortShard是多少？

FEC是每收到一个包，就尝试还原
1。 收到data(1)， datashard +parityshard < 10，无法还原
2- 6.  收到data(2..6)， datashard +parityshard < 10，无法还原
7。 收到parity(10,11), datashard +parityshard = 6+2 < 10，无法还原
。。。
。。。
一直收后面的数据包，直到缓冲区超过  13 * 3个包， 接下来， 每收到一个新包， 第一个data包移除，FECShortShard++



所以fecshortshard可以近似理解为datashard-lostdatashard?

不能，还要减去还原成功的

麻烦看下，我上传的snmp log文件，感觉还是有点不理解。


哪里不理解

fecshortshard你代码里的注释是record unrecoverable data，但是按照你的解释是收到的datashard在被清出缓存时计数。到底怎么理解呢？这个数字大好还是小好？

我刚才看了下代码，有点理解了。fec恢复成功会直接释放缓存，留在缓存中的datashard如果被强制释放，那一定就是丢包过多留下的无用data

另外，再请教一下，接收端cpu满载，是否会造成额外丢包，影响fec效率？

cpu满载主要影响是内核中的udp socket buffer，相当于一个消息队列，这个队列如果因为应用层处理不及时而填满，一定会丢包。 所以CPU满载，一定会丢包。

理解了，谢谢。现在方便帮忙编译一下mipsle版的client吗？我想再试试，家里的pad没法编译，我自己下午变异的binary留在公司里了。谢谢！

[kcptun-darwin-386-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693673/kcptun-darwin-386-20170109.tar.gz)
[kcptun-darwin-amd64-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693674/kcptun-darwin-amd64-20170109.tar.gz)
[kcptun-freebsd-386-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693675/kcptun-freebsd-386-20170109.tar.gz)
[kcptun-freebsd-amd64-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693677/kcptun-freebsd-amd64-20170109.tar.gz)
[kcptun-linux-386-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693678/kcptun-linux-386-20170109.tar.gz)
[kcptun-linux-amd64-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693676/kcptun-linux-amd64-20170109.tar.gz)
[kcptun-linux-arm-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693679/kcptun-linux-arm-20170109.tar.gz)
[kcptun-linux-mips-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693680/kcptun-linux-mips-20170109.tar.gz)
[kcptun-linux-mipsle-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693681/kcptun-linux-mipsle-20170109.tar.gz)
[kcptun-windows-386-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693682/kcptun-windows-386-20170109.tar.gz)
[kcptun-windows-amd64-20170109.tar.gz](https://github.com/xtaci/kcptun/files/693683/kcptun-windows-amd64-20170109.tar.gz)


调了各种fec的比例，发觉如果fecshortshard要接近0，datashard和parityshard的比例要在5:3左右。但此时fecsegs比fecrecovered大很多，也就是fec的效率很低。一套fec的参数肯定不能满足不同丢包率，所以到底是选fec还是选重传，非常难权衡啊。

早晨又测试了一下，确实CPU占用率100%后会出现内核丢包。而且内核丢包很有规律，FEC(5,5)的情况下几乎全部可以被恢复出来。表现在数据上就是FECRecovered一下变很大，下载速度并没有变慢。看来FEC对付内核丢包这种很有规律的丢包非常有效。
但是对于实际网络中的非常没有规律的丢包就显得不那么有效了，只能说用带宽换稳定。我这边网络上午丢包率很低，下午丢包率就会变得非常不稳定。等下午再测试一下吧。

再次感谢作者，有了这些实时的snmp数据，调参数就不用盲调了。

嗯，不错， 你是观察到 /proc/net/snmp的内核丢包么？

不是，没有/proc/net/snmp这个文件。我是人为让CPU占用率到达100%，这时FECRecovered就会变得非常大，CPU占用率下降后，FECRecovered马上下降。


嗯，观察/proc/net/snmp是最准确的。

openwrt上没有这个文件呢。。。
顺便问一下，Inseg的计数是datashard还是datashard+parityshard?

Inseg  = datashard+parityshard